{% include "partials.main" %}

<head>
    {% include "partials.title-meta" with {'title': 'Forgot Password'} %}
    {% include "partials.head-css" %}
</head>

<body>

<div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">
    <!-- auth page content -->
    <div class="auth-page-content overflow-hidden p-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">
                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Confirm Your Password</h5>
                                <p class="text-muted">Please enter your password to continue.</p>
                             </div>

                            <div class="alert alert-borderless alert-warning text-center mb-2 mx-2" role="alert">
                                Enter your email address and your password will be reset and emailed to you.
                            </div>
                            <div class="p-2">
                                <form method="POST" autocomplete="off" action="{{ route('password.confirm') }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                    <div class="mb-3">
                                        <div class="float-end">
                                            <a href="{{ route('password.email') }}" class="text-muted">Forgot password?</a>
                                        </div>
                                        <label class="form-label" for="password-input">Password</label>
                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                            <input name="password" type="password" class="form-control pe-5 password-input" id="password-input">
                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted shadow-none password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                        </div>
                                    </div>

                                    {% if errors is not empty %}
                                        <div class="alert alert-danger">
                                            {{ errors.all()|first }}
                                        </div>
                                    {% endif %}
                                    {% if session('status') is not empty %}
                                        <div class="alert alert-success">
                                            {{ session('status') }}
                                        </div>
                                    {% endif %}
                                    <div class="text-center mt-4">
                                        <button class="btn btn-success w-100" type="submit">Confirm Password</button>
                                    </div>
                                </form><!-- end form -->
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
</div>
<!-- end auth-page-wrapper -->

{% include "partials.vendor-scripts" %}

<!-- password create init -->
<script src="/assets/js/pages/passowrd-create.init.js"></script>
</body>
</html>
