{% extends "layout.blank" %}

{% block title %}Forgot Password{% endblock %}

{% block included_scripts %}
    {% if errors is not empty %}
        <script>
            $(document).ready(function() {
                $('#modal-error-message').modal('show');
            });
        </script>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function () {
            // Validate email on input
            $('#email').on('input', function () {
                validateEmail();
            });

            function validateEmail() {
                var email = $('#email').val();
                var emailValid = isEmailValid(email);

                $('form').find('button[type="submit"]').prop('disabled', !emailValid);
            }

            function isEmailValid(email) {
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailRegex.test(email);
            }
        });
    </script>
{% endblock %}
{% block content %}
<body class="d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="#" class="navbar-brand navbar-brand"><img src="/img/logo.png" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Forgot Password</h2>
                <p class="mb-4">Enter your email address and your password will be reset and emailed to you.</p>

                <form method="POST" autocomplete="off" action="{{ route('password.email') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input id="email" class="form-control" type="email" name="email" autocomplete="off"
                               value="{{ input_old('email') }}" required>
                    </div>

                    <div class="form-footer">
                        {% if session('status') is not empty %}
                            <div class="alert alert-success">
                                <p>{{ session('status') }}</p>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary w-100" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                                <path d="M3 7l9 6l9 -6"></path>
                            </svg>
                            Send Email
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center text-muted mt-3">
            Forget it, <a href="{{ route('login') }}" tabindex="-1">send me back</a> to the sign in screen.
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-error-message" tabindex="-1" role="dialog" aria-modal="true"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"></path>
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                </svg>
                {% if errors is not empty %}
                    <h3>Error Occurred</h3>
                    <div class="text-muted">{{ errors.all()|first }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
