{% include "partials.main" %}

<head>
    {% include "partials.title-meta" with {'title': 'Forgot Password'} %}
    {% include "partials.head-css" %}
</head>

<body>

<div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">
    <!-- auth page content -->
    <div class="auth-page-content overflow-hidden p-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">
                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Forgot Password?</h5>

                                <lord-icon src="https://cdn.lordicon.com/rhvddzym.json" trigger="loop" colors="primary:#0ab39c" class="avatar-xl">
                                </lord-icon>

                            </div>

                            <div class="alert alert-borderless alert-warning text-center mb-2 mx-2" role="alert">
                                Enter your email address and your password will be reset and emailed to you.
                            </div>
                            <div class="p-2">
                                <form method="POST" autocomplete="off" action="{{ route('password.email') }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                    <div class="mb-4">
                                        <label class="form-label">Email <span class="text-danger">*</span></label>
                                        <input name="email" type="email" class="form-control" id="email">
                                    </div>

                                    {% if errors is not empty %}
                                        <div class="alert alert-danger">
                                            {{ errors.all()|first }}
                                        </div>
                                    {% endif %}
                                    {% if session('status') is not empty %}
                                        <div class="alert alert-success">
                                            {{ session('status') }}
                                        </div>
                                    {% endif %}
                                    <div class="text-center mt-4">
                                        <button class="btn btn-success w-100" type="submit">Send Reset Link</button>
                                    </div>
                                </form><!-- end form -->
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                    <div class="mt-4 text-center">
                        <p class="mb-0">Forget it, <a href="{{ route('login') }}" tabindex="-1" class="fw-semibold text-primary text-decoration-underline">send me back</a>  to the sign in screen.</p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
</div>
<!-- end auth-page-wrapper -->

{% include "partials.vendor-scripts" %}
</body>
</html>
