{% extends "layout.blank" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<body class="d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="#" class="navbar-brand navbar-brand"><img src="/img/logo.png" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Forgot Password</h2>
                <p class="mb-4">Enter your email address and your password will be reset and emailed to you.</p>

                <form method="POST" autocomplete="off" action="{{ route('password.email') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input id="email" class="form-control" type="email" name="email" autocomplete="off"
                               value="{{ input_old('email') }}" required>
                    </div>

                    <div class="form-footer">
                        {% if errors is not empty %}
                            <div class="alert alert-danger">
                                <p>{{ errors.all()|first }}</p>
                            </div>
                        {% endif %}
                        {% if session('status') is not empty %}
                            <div class="alert alert-success">
                                <p>{{ session('status') }}</p>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary w-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                                <path d="M3 7l9 6l9 -6"></path>
                            </svg>
                            Send me new password
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center text-muted mt-3">
            Forget it, <a href="{{ route('login') }}" tabindex="-1">send me back</a> to the sign in screen.
        </div>
    </div>
</div>
{% endblock %}
