{% extends "layout.blank" %}

{% block title %}Register{% endblock %}

{% block included_scripts %}
    <script type="text/javascript">
        $('#reload').click(function () {
            $.ajax({
                type: 'GET',
                url: 'reload-captcha',
                success: function (data) {
                    $(".captcha img").attr('src', data.captcha);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Check and validate password and email on input
            $('#password, #email, #password_confirmation').on('input', function () {
                validateForm();
            });

            // Check all inputs on their input
            $('input').on('input', function() {
                validateForm();
            });

            function validateForm() {
                var password = $('#password').val();
                var email = $('#email').val();
                var passwordConfirmation = $('#password_confirmation').val();
                var allFieldsFilled = areAllFieldsFilled();
                var passwordValid = validatePassword(password);
                var emailValid = validateEmail(email);
                var passwordsMatch = password === passwordConfirmation;

                // Show or hide password mismatch hint
                $('#password-confirm-hint').css('display', passwordsMatch ? 'none' : 'inline');

                $('form').find('button[type="submit"]').prop('disabled', !(allFieldsFilled && passwordValid && emailValid && passwordsMatch));
            }

            function areAllFieldsFilled() {
                var allFilled = true;
                $('input').each(function() {
                    if ($(this).val() === '') {
                        allFilled = false;
                        return false; // break the loop
                    }
                });
                return allFilled;
            }

            function validatePassword(password) {
                var lengthValid = password.length >= 8 && password.length <= 255;
                var lettersNumbersValid = /[a-zA-Z]/.test(password) && /\d/.test(password);

                // This regex is for basic emoji detection. It may not cover all cases.
                var emojiRegex = /(\uD83D[\uDC00-\uDFFF])|(\uD83C[\uDC00-\uDFFF])|(\uFFFD)/;
                var noEmojiValid = !emojiRegex.test(password);

                updateHint('#length-hint', lengthValid);
                updateHint('#letters-numbers-hint', lettersNumbersValid);
                updateHint('#no-spaces-hint', noEmojiValid);

                return lengthValid && lettersNumbersValid && noEmojiValid;
            }

            function validateEmail(email) {
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailRegex.test(email);
            }

            function updateHint(hintId, isValid) {
                var color = isValid ? 'yellow' : 'red';
                var symbol = isValid ? '✔' : '✖';
                $(hintId).find('.hint-icon').css('color', color).text(symbol);
            }
        });
    </script>

{% endblock %}
{% block content %}
<body class="d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="#" class="navbar-brand navbar-brand"><img src="/img/logo.png" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Create New Account</h2>
                <form method="POST" autocomplete="off" action="{{ route('register') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input id="name" class="form-control" name="name" autocomplete="off"
                               value="{{ input_old('name') }}" required autofocus>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input id="email" class="form-control" type="email" name="email" autocomplete="off"
                               value="{{ input_old('email') }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input id="password" name="password" type="password" class="form-control" autocomplete="off"
                               required>
                        <small class="form-hint" id="password-hints">
                            <p class="password-hint" id="length-hint"><span class="hint-icon" style="color: red;">✖</span> Must be 8-255 characters long</p>
                            <p class="password-hint" id="letters-numbers-hint"><span class="hint-icon" style="color: red;">✖</span> Must contain letters and numbers</p>
                            <p class="password-hint" id="no-spaces-hint"><span class="hint-icon" style="color: red;">✖</span> Must not contain emoji</p>
                        </small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input id="password_confirmation" name="password_confirmation" type="password"
                               class="form-control" autocomplete="off" required>
                        <small class="form-hint">
                            <span id="password-confirm-hint" style="color: red; display: none;">Password confirmation does not match the password.</span>
                        </small>
                    </div>
                    <div class="md-3">
                        <label class="form-label">Enter Captcha</label>
                        <input id="captcha" type="text" class="form-control" name="captcha" required>
                    </div>
                    <div class="md-3 pt-3 pb-3" style="text-align: right;">
                        <div class="captcha">
                            <img src="{{ captcha_src|raw }}" class="rounded" alt="captcha">
                            <button type="button" class="btn btn-primary reload" id="reload" name="reload">
                                &#x21bb;
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <span class="form-check-label">By creating an account, you agree to our terms.</span>
                    </div>
                    <div class="form-footer">
                        {% if errors is not empty %}
                            <div class="alert alert-danger">
                                <p>{{ errors.all()|first }}</p>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary w-100" disabled>Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center text-muted mt-3">
            Already have account? <a href="{{ route('login') }}" tabindex="-1">Login</a>
        </div>
    </div>
</div>
{% endblock %}
