{% extends "layout.blank" %}

{% block title %}Two-Factor Authorization{% endblock %}

{% block included_scripts %}
    {% if errors is not empty %}
        <script>
            $(document).ready(function() {
                $('#modal-error-message').modal('show');
            });
        </script>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var inputs = document.querySelectorAll('[data-code-input]');
            var form = document.getElementById('twoFactorForm');

            function updateFullCode() {
                var fullCode = '';
                for(var i = 0; i < inputs.length; i++) {
                    fullCode += inputs[i].value;
                }
                document.getElementById('fullCode').value = fullCode;
            }

            function setCursorToEnd(input) {
                var len = input.value.length;
                input.setSelectionRange(len, len);
            }

            inputs.forEach((input, index) => {
                input.addEventListener('keydown', function(e) {
                    // Allow only digits, backspace, tab, and arrow keys
                    if (!e.key.match(/[0-9]/) && e.key !== 'Backspace' && e.key !== 'Tab' && e.key !== 'ArrowLeft' && e.key !== 'ArrowRight') {
                        e.preventDefault();
                    }
                    // Clear input and move to the previous field if backspace is pressed
                    if (e.key === 'Backspace') {
                        setTimeout(function() {
                            if (input.value === '' && index > 0) {
                                inputs[index - 1].focus();
                            }
                        }, 0);
                    }
                    // Move focus to the previous field if left arrow key is pressed
                    if (e.key === 'ArrowLeft' && index > 0) {
                        inputs[index - 1].focus();
                    }
                    // Move focus to the next field if right arrow key is pressed
                    if (e.key === 'ArrowRight' && index < inputs.length - 1) {
                        inputs[index + 1].focus();
                    }
                    input.addEventListener('focus', function(e) {
                        setCursorToEnd(input);
                    });

                    input.addEventListener('click', function(e) {
                        setCursorToEnd(input);
                    });
                });

                input.addEventListener('input', function(e) {
                    // Move to next field if a digit is entered
                    if (e.target.value.length === e.target.maxLength && index + 1 < inputs.length) {
                        inputs[index + 1].focus();
                    }
                    // Update and submit form if all inputs are filled
                    if (Array.from(inputs).every(input => input.value.length === input.maxLength)) {
                        updateFullCode();
                        form.submit();
                    }
                });
            });

            form.addEventListener('submit', function(e) {
                updateFullCode();
            });
        });

        document.getElementById('toggleRecoveryForm').onclick = function() {
            var recoveryForm = document.getElementById('recoveryForm');
            if(recoveryForm.style.display === 'none') {
                recoveryForm.style.display = 'block';
            } else {
                recoveryForm.style.display = 'none';
            }
        };
    </script>

{% endblock %}
{% block content %}
<body class="d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="#" class="navbar-brand"><img src="/img/logo.png" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Please enter 2FA code</h2>
                <p class="mb-4">Two-factor authentication (2FA) is enabled for your account. Please enter a code to log in.</p>
                <form id="twoFactorForm" method="POST" autocomplete="off" action="{{ route('two-factor.login') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" id="fullCode" name="code" />

                    <div class="my-5">
                        <div class="row g-2 justify-content-center">
                            {% for i in 1..6 %}
                                <div class="col-2">
                                    <input type="text" class="form-control form-control-lg text-center py-3 wider-input" maxlength="1" inputmode="numeric" pattern="[0-9]*" data-code-input id="codeDigit{{ i }}" required>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-footer mt-4">
                        <button type="submit" class="btn btn-primary w-100">Verify Code</button>
                    </div>
                </form>
                <div class="hr-text">
                    <span id="toggleRecoveryForm" style="cursor: pointer;">or try to use your recovery code</span>
                </div>
                <form id="recoveryForm" method="POST" autocomplete="off" action="{{ route('two-factor.login') }}" style="display: none;">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                    <div class="mb-3">
                        <label class="form-label">Recovery Code</label>
                        <input id="recovery_code" name="recovery_code" type="text" style="text-align: center" class="form-control" required>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Verify Recovery Code</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-error-message" tabindex="-1" role="dialog" aria-modal="true"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"></path>
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                </svg>
                {% if errors is not empty %}
                    <h3>Error Occurred</h3>
                    <div class="text-muted">{{ errors.all()|first }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
