{% extends "layout.admin" %}

{% block title %}{{ role.name }}{% endblock %}

{% block included_scripts %}
    <script>
        const modal = document.getElementById('modal-role-remove');
        const modalLink = document.getElementById('role-remove-post');

        // Listen for the "show.bs.modal" event
        modal.addEventListener('show.bs.modal', function (event) {
            // Update the link's href attribute with the value
            modalLink.action = '/admin/roles/{{ role.id }}/remove';
        });
    </script>
{% endblock %}

{% block content %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Admin / Roles / {{ role.id }}
                    </div>
                    <h2 class="page-title">
                        {{ role.name }}
                    </h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal"
                       data-bs-target="#modal-role-remove">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Edit Role</h3>
                        </div>
                        <form method="POST" autocomplete="off" action="/admin/roles/{{ role.id }}">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <input name="name" type="text" class="form-control" value="{{ role.name }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Slug</label>
                                    <input type="text" class="form-control" value="{{ role.slug }}" disabled>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Description</label>
                                    <input name="description" type="text" class="form-control" value="{{ role.description }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Level</label>
                                    <input name="level" type="number" class="form-control" value="{{ role.level }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Permissions</label>
                                    <div class="form-selectgroup">
                                        {% for permission in permissions %}
                                            <label class="form-selectgroup-item">
                                                <input type="checkbox" name="permissions[]" value="{{ permission.id }}" class="form-selectgroup-input" {% if permission.checked == 1 %}checked{% endif %}>
                                                <span class="form-selectgroup-label">{{ permission.name }}</span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent mt-auto">
                                {% if errors is not empty %}
                                    <div class="alert alert-danger">
                                        <p>{{ errors.all()|first }}</p>
                                    </div>
                                {% endif %}

                                {% if session('status') is not empty %}
                                    <div class="alert alert-success">
                                        <p>{{ session('status') }}</p>
                                    </div>
                                {% endif %}

                                <div class="btn-list justify-content-end">
                                    <a href="{{ route('admin.roles') }}" class="btn">
                                        Cancel
                                    </a>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-role-remove" tabindex="-1" role="dialog" aria-modal="true"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9v2m0 4v.01"></path>
                        <path
                            d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                    </svg>
                    <h3>Are you sure?</h3>
                    <div class="text-muted">Do you really want to remove this role? What you've done cannot be undone.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <form id="role-remove-post" method="POST" autocomplete="off" action="">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                            <div class="row">
                                <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                        Cancel
                                    </a></div>
                                <div class="col">
                                    <button type="submit" class="btn btn-danger w-100">Remove Role</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
