{% extends "layout.admin" %}

{% block title %}Permissions{% endblock %}

{% block included_scripts %}
    {% if errors is not empty %}
        <script>
            var createUserModal = new bootstrap.Modal(document.getElementById("modal-create-permission"), {});
            document.onreadystatechange = function () {
                createUserModal.show();
            };
        </script>
    {% endif %}

    <script>
        const modal = document.getElementById('modal-permission-remove');
        const modalLink = document.getElementById('permission-remove-post');

        // Listen for the "show.bs.modal" event
        modal.addEventListener('show.bs.modal', function (event) {
            // Get the button that triggered the modal
            const button = event.relatedTarget;

            // Get the data-value attribute from the button
            const value = button.getAttribute('data-value');

            // Update the link's href attribute with the value
            modalLink.action = '/admin/permissions/' + value + '/remove';
        });
    </script>
    <script>
        $(document).on("click", "#search-form button[type=submit]", function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this).closest("form");
            var actionUrl = form.attr('action');
            var buttonValue = $(this).val(); // get the value of the clicked button

            // Include the clicked button's value in the serialized data
            var formData = form.serialize() + "&" + encodeURIComponent($(this).attr("name")) + "=" + encodeURIComponent(buttonValue);
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: formData, // send the form's elements along with the clicked button's value
                success: function (data) {
                    $("div#permissions-container").html(data);
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <form method="POST" id="search-form" autocomplete="off" action="{{ route('admin.permissions.search') }}">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            Admin / Permissions
                        </div>
                        <h2 class="page-title text-white">
                            Permissions
                        </h2>
                    </div>

                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="action" value="search"/>
                            <div class="form-group">
                                <input id="search" class="form-control" type="text" name="search" value="{{ search }}">
                            </div>

                            <span class="d-none d-sm-inline">
                                <button type="submit" class="btn">Search</button>
                            </span>
                            {% if auth_user().hasPermission('create.permissions') %}
                                <span class="d-none d-sm-inline">
                                <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                                   data-bs-target="#modal-create-permission">
                                  Create New Permission
                                </a>
                            </span>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="permissions-container">
            {% include 'admin/permissions-list.twig' %}
        </div>
    </form>

    {% if auth_user().hasPermission('create.permissions') %}
        <div class="modal modal-blur modal-lg{% if errors is empty %} fade{% endif %}" id="modal-create-role"
             tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="POST" autocomplete="off" action="{{ route('admin.permissions') }}">
                        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                        <div class="modal-header">
                            <h5 class="modal-title">Create New Permission</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input name="name" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Slug</label>
                                <input name="slug" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <input name="description" type="text" class="form-control">
                            </div>
                        </div>
                        {% if errors is not empty %}
                            <div class="mb-3">
                                <div class="alert alert-danger">
                                    <p>{{ errors.all()|first }}</p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="modal-footer">
                            <div class="col-auto">
                                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% if auth_user().hasPermission('delete.permissions') %}
        <div class="modal modal-blur fade" id="modal-permission-remove" tabindex="-1" role="dialog" aria-modal="true"
             aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-status bg-danger"></div>
                    <div class="modal-body text-center py-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24"
                             height="24"
                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 9v2m0 4v.01"></path>
                            <path
                                d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                        </svg>
                        <h3>Are you sure?</h3>
                        <div class="text-muted">Do you really want to remove this permission? What you've done cannot be
                            undone.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <form id="role-remove-post" method="POST" autocomplete="off" action="">
                                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                                <div class="row">
                                    <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                            Cancel
                                        </a></div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger w-100">Remove Permission</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
