{% extends "layout.admin" %}

{% block title %}{{ user.name }}{% endblock %}

{% block included_scripts %}
    <script src="/libs/tinymce/tinymce.min.js"></script>
    {% if errors is not empty %}
        <script>
            $(document).ready(function() {
                $('#modal-error-message').modal('show');
            });
        </script>
    {% endif %}

    {% if session('status') is not empty %}
        <script>
            $(document).ready(function() {
                $('#modal-success-message').modal('show');
            });
        </script>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#bio',
                height: 300,
                menubar: false,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>
    <script>
        const modal = document.getElementById('modal-user-remove');
        const modalLink = document.getElementById('user-remove-post');

        // Listen for the "show.bs.modal" event
        modal.addEventListener('show.bs.modal', function (event) {
            // Update the link's href attribute with the value
            modalLink.action = '/admin/users/{{ user.id }}/remove';
        });
    </script>
{% endblock %}

{% block content %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Admin / Users / {{ user.id }}
                    </div>
                    <h2 class="page-title">
                        {{ user.name }}
                    </h2>
                </div>
                {% if auth_user().hasPermission('edit.users') %}
                    {% if user.id != 1 %}
                        <div class="col-auto ms-auto d-print-none">
                            <a href="#" class="btn btn-danger" data-bs-toggle="modal"
                               data-bs-target="#modal-user-remove">
                                Delete
                            </a>
                        </div>
                    {% else %}
                        <div class="col-auto ms-auto d-print-none">
                            <a href="#" class="btn btn-danger" data-bs-toggle="modal"
                               data-bs-target="#modal-default-role-warning">
                                Delete
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row row-deck align-items-center">
                                <div class="d-flex py-1 align-items-center">
                                    <span class="avatar me-2" style="background-image: url({{ gravatar.get(user.email) }}"></span>
                                    <div class="flex-fill">
                                        <div class="font-weight-medium">{{ user.name }}</div>
                                        <div class="text-muted"><a class="text-reset">{{ user.email }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card-body p-0">
                        <a href="/admin/users/{{ user.id }}" class="btn w-100 rounded-0">Public Profile</a>
                        <a href="/admin/users/{{ user.id }}/connected-apps" class="btn btn-primary w-100 rounded-0">Connected Apps</a>
                        <a href="/admin/users/{{ user.id }}/security" class="btn w-100 rounded-0">Security</a>
                    </div>
                </div>

                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Connected Apps</h3>
                        </div>

                        <div class="card-body">
                            <!-- Google Card -->
                            <div class="card mb-3"> <!-- mb-3 for margin bottom space -->
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <span class="fs-3">Google</span> <!-- fs-3 for larger text -->
                                    <button class="btn btn-outline-primary">{% if user.provider == 'google' and user.provider_id %}Disconnect{% else %}Connect{% endif %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-user-remove" tabindex="-1" role="dialog" aria-modal="true"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9v2m0 4v.01"></path>
                        <path
                            d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                    </svg>
                    <h3>Are you sure?</h3>
                    <div class="text-muted">Do you really want to remove this user? What you've done cannot be undone.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <form id="user-remove-post" method="POST" autocomplete="off" action="">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                            <div class="row">
                                <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                        Cancel
                                    </a></div>
                                <div class="col">
                                    <button type="submit" class="btn btn-danger w-100">Remove User</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-default-role-warning" tabindex="-1" role="dialog" aria-modal="true"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"></path>
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    </svg>
                    <h3>Default User</h3>
                    <div class="text-muted">This is the default user and cannot be removed.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-error-message" tabindex="-1" role="dialog" aria-modal="true"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"></path>
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    </svg>
                    {% if errors is not empty %}
                        <h3>Error Occurred</h3>
                        <div class="text-muted">{{ errors.all()|first }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-blur fade" id="modal-success-message" tabindex="-1" role="dialog" aria-modal="true"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-success"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 5m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z" />
                        <path d="M9 9h6v6h-6z" />
                        <path d="M3 10h2" />
                        <path d="M3 14h2" />
                        <path d="M10 3v2" />
                        <path d="M14 3v2" />
                        <path d="M21 10h-2" />
                        <path d="M21 14h-2" />
                        <path d="M14 21v-2" />
                        <path d="M10 21v-2" />
                    </svg>
                    {% if session('status') is not empty %}
                        <h3>Success</h3>
                        <div class="text-muted">{{ session('status') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
