{% extends "layout.default" %}

{% block title %}Public Profile{% endblock %}

{% block included_scripts %}
<script src="/libs/tinymce/tinymce.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let options = {
            selector: '#tinymce-mytextarea',
            height: 300,
            menubar: false,
            statusbar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat',
            content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
        }
        if (localStorage.getItem("tablerTheme") === 'dark') {
            options.skin = 'oxide-dark';
            options.content_css = 'dark';
        }
        tinyMCE.init(options);
    })
</script>
{% if errors is not empty %}
    <script>
        $(document).ready(function() {
            $('#modal-error-message').modal('show');
        });
    </script>
{% endif %}

{% if session('status') is not empty and session('status') != 'two-factor-authentication-enabled' %}
    <script>
        $(document).ready(function() {
            $('#modal-success-message').modal('show');
        });
    </script>
{% endif %}
{% endblock %}
{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Public Profile
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="row g-0">
                <div class="col-3 d-none d-md-block border-end">
                    <div class="card-body">
                        <h4 class="subheader">Account Settings</h4>
                        <div class="list-group list-group-transparent">
                            <a href="{{ route('settings.account') }}"
                               class="list-group-item list-group-item-action d-flex align-items-center active">Public
                                Profile</a>
                            <a href="{{ route('settings.security') }}"
                               class="list-group-item list-group-item-action d-flex align-items-center">Security</a>
                        </div>
                        <h4 class="subheader mt-4">Experience</h4>
                        <div class="list-group list-group-transparent">
                            <a href="#" class="list-group-item list-group-item-action">Give Feedback</a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column">
                    <form method="POST" autocomplete="off" action="{{ route('settings.account') }}">
                        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                        <div class="card-body">
                            <h2 class="mb-4">Public Profile</h2>
                            <h3 class="card-title">Profile Picture</h3>

                            <div>
                                <div class="row align-items-center">
                                    <div class="col-auto"><span class="avatar avatar-xl"
                                                                style="background-image: url({{ gravatar.get(auth_user().email) }})"></span>
                                    </div>
                                    <div class="col-auto">
                                        You can change your profile image in <a
                                            href="https://gravatar.com/">Gravatar</a>.
                                    </div>
                                </div>
                                <h3 class="card-title mt-4">Public Profile</h3>
                                <p class="card-subtitle">If you change your email address, we will send you a
                                    confirmation email.</p>
                                <div class="row g-3">
                                    <div class="col-md">
                                        <div class="form-label">Name</div>
                                        <input name="name" type="text" class="form-control"
                                               value="{{ auth_user().name }}">
                                    </div>
                                    <div class="col-md">
                                        <div class="form-label">Email</div>
                                        <input name="email" type="email" class="form-control"
                                               value="{{ auth_user().email }}">
                                    </div>
                                </div>
                                <h3 class="card-title mt-4">Bio</h3>
                                <div class="row">
                                    <div class="col-12">
                                        <textarea id="tinymce-mytextarea" name="bio">{{ auth_user().bio }}</textarea>
                                    </div>
                                </div>
                                <br>
                                <div class="row g-3">
                                    <div class="col-md">
                                        <div class="form-label">Website URL</div>
                                        <input name="website_url" type="text" class="form-control"
                                               value="{{ auth_user().website_url }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer bg-transparent mt-auto">
                            <div class="btn-list justify-content-end">
                                <a href="{{ route('settings.account') }}" class="btn">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-blur fade" id="modal-error-message" tabindex="-1" role="dialog" aria-modal="true"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"></path>
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    </svg>
                    {% if errors is not empty %}
                        <h3>Error Occurred</h3>
                        <div class="text-muted">{{ errors.all()|first }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-blur fade" id="modal-success-message" tabindex="-1" role="dialog" aria-modal="true"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-success"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 5m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z" />
                        <path d="M9 9h6v6h-6z" />
                        <path d="M3 10h2" />
                        <path d="M3 14h2" />
                        <path d="M10 3v2" />
                        <path d="M14 3v2" />
                        <path d="M21 10h-2" />
                        <path d="M21 14h-2" />
                        <path d="M14 21v-2" />
                        <path d="M10 21v-2" />
                    </svg>
                    {% if session('status') is not empty %}
                        <h3>Success</h3>
                        <div class="text-muted">{{ session('status') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
