{% include "partials.main" %}
<head>

    {% include "partials.title-meta" with {'title': 'Security'} %}

    {% include "partials.head-css" %}
</head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">
    {% include "partials.menu" %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="profile-foreground position-relative mx-n4 mt-n4">
                    <div class="profile-wid-bg">
                        <img src="/assets/images/profile-bg.jpg" alt="" class="profile-wid-img"/>
                    </div>
                </div>
                <div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
                    <div class="row g-4">
                        <div class="col-auto">
                            <div class="avatar-lg">
                                <img src="{{ gravatar.get(auth_user().email) }}" alt="user-img"
                                     class="img-thumbnail rounded-circle"/>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col">
                            <div class="p-2">
                                <h3 class="text-white mb-1">{{ auth_user().name }}</h3>
                                <p class="text-white-75">{{ auth_user().roles.first()['name'] }}</p>
                                <div class="hstack text-white-50 gap-1">
                                    <div class="me-2"><i
                                            class="ri-mail-line me-1 text-white-75 fs-16 align-middle"></i>{{ auth_user().email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                    </div>
                    <!--end row-->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div class="d-flex profile-wrapper">
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1"
                                    role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link fs-14" href="{{ route('settings.account') }}" tabindex="-1">
                                            <i class="ri-user-fill d-inline-block d-md-none"></i> <span
                                                class="d-none d-md-inline-block">Account</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link fs-14 active" href="{{ route('settings.security') }}"
                                           aria-selected="true" tabindex="-1">
                                            <i class="ri-lock-fill d-inline-block d-md-none"></i> <span
                                                class="d-none d-md-inline-block">Security</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content pt-4 text-muted">
                                <div class="tab-pane active" id="security-tab" role="tabpanel">
                                    <div class="card">
                                        <!--end col-->
                                        <div class="col-xxl-12">
                                            <div class="card-body">
                                                {% if errors is not empty %}
                                                    <div class="alert alert-danger">
                                                        {{ errors.all()|first }}
                                                    </div>
                                                {% endif %}

                                                {% if session('status') is not empty %}
                                                    <div class="alert alert-success">
                                                        {{ session('status') }}
                                                    </div>
                                                {% endif %}
                                                <div class="mb-4 pb-2">
                                                    <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0">
                                                        <div class="flex-grow-1">
                                                            <h6 class="fs-13 mb-1">Two-factor Authentication</h6>
                                                            <p class="text-muted">Enhance the security of your account by enabling two-factor authentication (2FA).</p>
                                                        </div>
                                                        <div class="flex-shrink-0 ms-sm-3">
                                                            {% if auth_user().two_factor_confirmed == 1 %}
                                                                <form action="{{ route('two-factor.destroy') }}" method="POST">
                                                                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                                                    <button type="submit" class="btn btn-primary">Disable 2FA</button>
                                                                </form>
                                                            {% else %}
                                                                <form action="{{ route('two-factor.setup') }}" method="get">
                                                                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                                                    <button type="submit" class="btn btn-primary">Activate 2FA</button>
                                                                </form>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0 mt-2">
                                                        <div class="flex-grow-1">
                                                            <h6 class="fs-13 mb-1">Password</h6>
                                                            <p>You can change your password here.</p>
                                                        </div>
                                                        <div class="flex-shrink-0 ms-sm-3">
                                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-change-password">Change Password</button>
                                                        </div>
                                                    </div>
                                                </div>

                                               <div class="mt-4 mb-3 border-bottom pb-2">
                                                    <h5 class="card-title">Login History</h5>
                                                </div>

                                                {% for device in devices %}
                                                    <div class="d-flex align-items-center mb-3">
                                                        <div class="flex-shrink-0 avatar-sm">
                                                            <div
                                                                class="avatar-title bg-light text-primary rounded-3 fs-18">
                                                                {% if device.deviceDetector.mobile == true %}
                                                                    <i class="ri-smartphone-line"></i>
                                                                {% elseif device.deviceDetector.tablet == true %}
                                                                    <i class="ri-tablet-line"></i>
                                                                {% elseif device.deviceDetector.pc == true %}
                                                                    <i class="ri-computer-line"></i>
                                                                {% elseif device.deviceDetector.tv == true %}
                                                                    <i class="ri-tv-line"></i>
                                                                {% elseif device.deviceDetector.camera == true %}
                                                                    <i class="ri-camera-line"></i>
                                                                {% elseif device.deviceDetector.bot == true %}
                                                                    <i class="ri-robot-line"></i>
                                                                {% else %}
                                                                    <i class="ri-question-line"></i>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6>{{ device.agentPlatform }}, {{ device.agentBrowser }}</h6>
                                                            <p class="text-muted mb-0">{{ device.ipLocation }} - {{ device.last_activity|date("Y-m-d H:i:s") }} UTC</p>
                                                        </div>
                                                        <div>
                                                            {% if sessionID != device.id %}
                                                                <a href="/settings/security/remove_device/{{ device.id }}">Logout</a>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <div>
                                            </div>
                                        </div>
                                    </div><!-- end card -->
                                </div>
                                <!--end col-->
                            </div>
                            <!--end tab-pane-->
                        </div>
                        <!--end tab-content-->
                    </div>
                </div>
                <!--end col-->
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% include "partials.footer" %}
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->

<div class="modal fade zoomIn modal-open" id="modal-change-password" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="POST" autocomplete="off" action="{{ route('settings.security') }}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="email" value="{{ auth_user().email }}"/>
                <div class="modal-header">
                    <h5 class="modal-title">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if auth_user().password != null %}
                        <div class="mb-3">
                            <label class="form-label">Current Password</label>
                            <input name="password" type="password" class="form-control">
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            <p>
                                You currently use a social login provider to log in to your account. After setting a
                                password for your account, you can log in using your email and password.
                            </p>
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <input name="new_password" type="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm New Password</label>
                        <input name="confirm_new_password" type="password" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade zoomIn" id="recovery-code" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recovery Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <p>
                        This is your recovery code. Please store it in a secure location. It can be used to recover
                        access to your account if your 2FA device is lost.
                    </p>
                </div>
                <div class="text-center" style="font-family: Fira Code, sans-serif">
                    {% for code in session('2fa_recovery_key') %}
                        <p>{{ code }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include "partials.vendor-scripts" %}

<!-- App js -->
<script src="/assets/js/app.js"></script>

</body>
</html>
